## Data Science Tools for Ecosystem

## Author
Joe Givens

In this notebook, the Data Science Tools and Ecoystem are summarized.

**Objectives**
- Languages
- Libraries
- Data science tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. SQL
2. Java
3. C++
4. Python

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. Matplotlib
3. Scikit-Learn
4. Keras
5. Tensor Flow
6. PyTorch

|Data Science Tools|
--------------------
|MySQL|
|Hadoop|
|MongoDB|
|ceph|

### Below are a few examples of evlauating arithmetic expressions in Python

In [11]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335